/* common utilities */

.blog-name {
    font-size:50px;
}
.sign-up:hover {
    background-color: #a4a5a7;
}
.paragraph {
    text-align: justify;
}
.about {
    background-color:#f8f9fa;
}

/* footer styles  */
footer {
    background-color: gray;
    margin-top: 80px;
}
